# Copy this to terraform.tfvars and fill in real values
# NEVER commit terraform.tfvars to git — it's in .gitignore

aws_region  = "us-east-1"
app_name    = "medical-app"
environment = "prod"
db_password = "YourStrongPasswordHere123!"
